@font-face {
  font-family: Extra-Bold;
  src: url("font/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("font//Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Light;
  src: url("font//Poppins-Light.ttf");
}

@font-face {
  font-family: Extra-ligh;
  src: url("font/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: Bold-700;
  src: url("font/Poppins-Bold.ttf");
}

@font-face {
  font-family: Thin-100;
  src: url("font/Poppins-Thin.ttf");
}

@font-face {
  font-family: Light-300;
  src: url("font/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("font/Poppins-Medium.ttf");
}

@font-face {
  font-family: Regular;
  src: url("font/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("font/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Black;
  src: url("font/Poppins-Black.ttf");
}
