/*------------------------------------
	Google Fonts
------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins");

.pp {
    border: 1px solid red;
}
.background-main {
    background: url('../img/rect.svg') no-repeat ;
    background-size: cover 5% 100%;
    padding-bottom: 705px;
    
    }

@media (min-width :1200px) {
    .container-main {
        max-width: 1128px;
        margin: 0 auto;
    }
}