html, body{
    background-color: #F3F3F7 !important;
}


/* Navbar */

.navbar{
    background-color: #3B3B3B;
    padding: 15px 0px !important;
}
.navbar-brand{
    margin-left: 50px !important;
}
.nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 35px;
    background: none;
    outline: none;
    border: none;
}

.nav-link:hover, .nav-link:focus, .nav-link:active, .nav-link:visited, .nav-link:link {
    background: none !important;
    outline: none !important;
    border: none !important;
}


.nav-link:hover{
    
    transform: scale(1.03);
}
.navbar-nav {
    margin-right: 40px;
}
.nav-link:hover{
    text-decoration: none;
    color: white;
}
.navbar-toggler{
    color: white !important;
    outline: none !important;
    margin-right: 20px !important;
    font-size: 25px !important;
}

@media (max-width: 520px){
    .navbar-brand{
        margin-left: 17px !important;
    }
    .nav-link {
        margin-left: 20px !important;
    }
}
@media (max-width: 991px){
    .nav-link {
        margin-top: 5px;
        margin-left: 60px;
    }
    .navbar-nav{
        margin-top: 15px;
    }
    .nav-link:hover{
        transform: none !important;
    }
}

/* Left Content CSS Fix */


.reservation, .privateOffice, .events, .subscription{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px !important;
    margin-left: 30%;
    background-color: white;
    padding: 30px 40px;
    box-shadow: 0 20px 20px rgba(0,0,0,.03);
    width: 180px;
    border-radius: 10px;
    
}

.reservation:hover, .privateOffice:hover, .events:hover, .subscription:hover {
    transform: scale(1.06);
    cursor: pointer;

}

#content p {
    color: #707070;
}

.subscription img {
    margin-left: 12px !important;
 
    justify-content: center !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.reservation img {
    margin-left: 15px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

.privateOffice img {
    margin-left: 16px !important;
    margin-bottom: 12px;
}
.privateOffice p, .events p, .reservation p, .subscription p {
    text-align: center !important;
  
}

.events img {
    margin-left: 25px !important;
    margin-top: 10px;
    margin-bottom: 12px;
}

/* .events p {
    margin-left: 20px !important;
 
} */

/* Active Page CSS */

.activePage {
    background-color: #E3B038 !important;
}

.activePage img, .activePage p{
    -webkit-filter: brightness(0) invert(1) !important;  
    -moz-filter : brightness(0) invert(1) !important;  
    -o-filter : brightness(0) invert(1) !important;  
    -ms-filter : brightness(0) invert(1) !important;  
    filter : brightness(0) invert(1) !important;  
    font-weight: bold;
    color: white !important;
}

@media (max-width: 1340px){
    .reservation, .privateOffice, .events, .subscription{
        margin-left: 12% !important;
    }

}

@media (max-width: 1588px){
    .reservation, .privateOffice, .events, .subscription{
        margin-left: 20%;
        min-width: 165px;

    }

}

@media (max-width: 1198px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 35px;
        margin-left: 5% !important;
    }
    .elements{
        margin-left: 5% !important;
    }

}

@media (max-width: 1028px){
    .reservation, .privateOffice, .events, .subscription{
        padding: 30px 30px;
        width: 155px !important;
    }
    .elements{
        margin-left: 1% !important;
    }
}

@media(max-width: 991px){
    .reservation, .privateOffice, .events, .subscription{
        height: 140px !important;
        padding: 15px 32px;
       
    
    }
    .elements{
       justify-content: center;
        margin-left: 0% !important;
        margin-right: 2% !important;
       
    }

    .elements div{

         font-size: 14px !important;
     }

}

@media(max-width:1217px){
    .privateOffice{
        height: 180px;
    }
}

/* Events : Right Content */


.eventDate {
    color: #FC9700;
    font-weight: bold;
    margin-bottom: 3px;
}

 .rightContent{
    margin-top: 50px !important;
    background-color: white;
    border-radius: 10px;
}

.imgEvents {
    max-width: 250px !important;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}

.txtEvent {
    padding-top: 30px;
    
    
}

.btnBookNow:hover{
    transform: scale(1.03);
}
.txtEvent h1{
    font-size: 21px !important;        
}

@media(max-width: 1440px){
    .txtEvent h1{
            font-size: 18px !important;        
    }
}

.txtEvent h1{
    font-family: 'Poppins', sans-serif;
    color: #202124;
   
}
 .txtEvent p, .txtEvent a {
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

.txtEvent p {
    color: #A6ADB4;
    font-size: 18px;
}

.txtEvent h1,  .txtEvent a {
    font-weight: bold;
}


.btnBookNow a{
    background-color: #E3B038;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
   
}

.btnBookNow {
    margin-top: 10px !important;
}

.btnEvent {
    text-align: right;
   
}
.btnBookNow a:hover {
    color: white;
    text-decoration: none !important;
}

.filterEvents {
    margin-top: 10px;
    
}
.event:nth-of-type(1){
    margin-bottom: -30px;

}

.event:nth-of-type(3){
    margin-bottom: 20px;
    margin-top: -20px;
}

.eventPrice{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    padding-top: 5px;
}

select {
    border-radius: 15px !important;
    min-height: 50px;
   margin-right: 20px !important;
    width: 250px !important;
    font-weight: 500 !important;
    background: url(../img/Dropdown.png) no-repeat right #ddd;
    background-position-x: 95%;
    -webkit-appearance: none;
    font-family: 'Poppins', sans-serif;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select option{
    
    color: black !important;
    border-radius: 15px !important;
}



@media(max-width: 1580px){
    .imgEvents {
        max-width: 230px;
        margin-top: 20px;
       
    }
}

@media(max-width: 1300px){

    .imgEvents {
        max-width: 230px;
      
    }
    .txtEvent p {
        font-size: 17px;
    }
    .btnBookNow a{
        padding: 8px 35px;
        font-size: 15px !important;
    }
}

@media(max-width: 1170px){

    .eventsImgs{
        margin-right: 5% !important;
    }

    .imgEvents {
        max-width: 230px;
       
    }

    .event:nth-of-type(3) {
        margin-top: -20px;
   
    }

    .blog .carousel-indicators {
        bottom: -40px !important;
       
    }

}


@media(max-width: 1060px){


    .event:nth-of-type(1){
        margin-top: 10px;
    }
  
}

@media(max-width: 991px){

    .blog .carousel-indicators {
        bottom: -15px !important;
        margin-bottom: 20px !important;
    }

    .eventsImgs{
        text-align: center;
        margin-top: -80px;
        margin-right: 0% !important;
    }

    .imgEvents {
        max-width: 230px;
        margin-top: 85px;
    }

    .txtEvent {
        text-align: center;
        margin-top: -50px;
    }

    .btnEvent {
        text-align: center;
        margin-bottom: 30px;
    }

    .btnBookNow {
        margin-bottom: 30px !important;
    }

    .filterEvents {
       
        margin-bottom: 0px;
       margin-left: 9px;
        text-align: center !important;
        justify-content: center !important;
       
    }
    
    .eventPrice{
        margin-bottom: 10px;
    }

}


@media(max-width: 450px){

    .imgEvents {
        max-width: 200px !important;
    }
}

.blog .carousel-indicators {
   
    bottom: -60px;
    margin-bottom: 20px !important;

}

.blog .carousel-indicators li {
   
    display: inline-block;
    width: 15px;
    background-color: rgba(0, 0, 0, 0);
    height: 15px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;
    margin-bottom: 20px;
}

.blog .carousel-indicators .active {
    background: #E3B038;
}


.carousel-indicators li {
    
    display: inline-block;
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
    height: 12px;
    text-indent: -999px;
    border: 1px solid #E3B038;
    border-radius: 10px;

    margin-top: -7%;
}

.carousel-indicators .active {
    background: #E3B038;
}  

/* footer */

#footer{
    margin-top: 38px !important;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  
    display: block;
    align-items: center;
   
    right: 0;
    bottom: 0;
    left: 0;
}
.footer p {
    margin-top: 18px;
}

.pull-right a i {
    margin-right: 15px;
    color: white;

}

.pull-right {
    margin-right: 3%;
}

#footer p i {
    transition: 0.4s;
    cursor: pointer;
}
#footer p i:hover {
    transform: scale(1.3);

}
.pull-left {
    margin-left: 3%;
}

@media(max-width:458px){
    .footer {
        text-align: center !important;
        justify-content: center !important;
    }
}