@font-face {
    font-family: "Montserrat-Arabic-Black-900";
    src: url('./Montserrat-Arabic-Black-900.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-Bold-700";
    src: url('./Montserrat-Arabic-Bold-700.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-ExtraBold-800";
    src: url('./Montserrat-Arabic-ExtraBold-800.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-ExtraLight-275";
    src: url('./Montserrat-Arabic-ExtraLight-275.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-Light-300";
    src: url('./Montserrat-Arabic-Light-300.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-Medium-500";
    src: url('./Montserrat-Arabic-Medium-500.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-Regular-400";
    src: url('./Montserrat-Arabic-Regular-400.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-SemiBold-600";
    src: url('./Montserrat-Arabic-SemiBold-600.otf');

}

@font-face {
    font-family: "Montserrat-Arabic-Thin-250";
    src: url('./Montserrat-Arabic-Thin-250.otf');

}


@font-face {
    font-family: "Cera-Pro-Medium-500";
    src: url('./Cera-Pro-Medium-500.otf');

}